<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!--    // merge config for pip supportsPictureInPicture -->
<!--    <application android:supportsPictureInPicture="true" />-->
    <application>
            <meta-data
            android:name=
                "com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="ee.forgr.ivsplayer.CastOptionsProvider" />
    </application>
</manifest>
